<div class="image">
    <%= image_tag "/assets/DSC_0230.jpg" %>
    <%= image_tag "/assets/DSC_0224.jpg" %>
    <%= image_tag "/assets/DSC_0244.jpg" %>
    <%= image_tag "/assets/DSC_0246.jpg" %>
</div>
    <p>このアプリはBootstrap課題用アプリです</p>